@font-face {
  font-family: "Sans Semibold";
  src: url("../fonts/SansPro/sourcesanspro-semibold-webfont.eot");
  src: url("../fonts/SansPro/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SansPro/sourcesanspro-semibold-webfont.woff2") format("woff2"), url("../fonts/SansPro/sourcesanspro-semibold-webfont.woff") format("woff"), url("../fonts/SansPro/sourcesanspro-semibold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Sans Regular";
  src: url("../fonts/SansPro/sourcesanspro-regular-webfont.eot");
  src: url("../fonts/SansPro/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SansPro/sourcesanspro-regular-webfont.woff2") format("woff2"), url("../fonts/SansPro/sourcesanspro-regular-webfont.woff") format("woff"), url("../fonts/SansPro/sourcesanspro-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sans Light";
  src: url("../fonts/SansPro/sourcesanspro-light-webfont.eot");
  src: url("../fonts/SansPro/sourcesanspro-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SansPro/sourcesanspro-light-webfont.woff2") format("woff2"), url("../fonts/SansPro/sourcesanspro-light-webfont.woff") format("woff"), url("../fonts/SansPro/sourcesanspro-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sans Bold";
  src: url("../fonts/SansPro/sourcesanspro-bold-webfont.eot");
  src: url("../fonts/SansPro/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SansPro/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../fonts/SansPro/sourcesanspro-bold-webfont.woff") format("woff"), url("../fonts/SansPro/sourcesanspro-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.dialog-off-canvas-main-canvas .region-highlighted .alert-danger,
.dialog-off-canvas-main-canvas .region-highlighted .alert-success {
  background-color: black;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  position: relative;
  padding: 15px;
}
.dialog-off-canvas-main-canvas .region-highlighted .alert-danger .close,
.dialog-off-canvas-main-canvas .region-highlighted .alert-success .close {
  position: absolute;
  right: 5px;
  top: 15px;
}
.dialog-off-canvas-main-canvas .region-highlighted .alert-success {
  background-color: black;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  position: relative;
  padding: 15px;
}
.dialog-off-canvas-main-canvas .region-content .js-quickedit-page-title {
  text-align: center;
  font-family: "Sans Regular", serif;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
.dialog-off-canvas-main-canvas .region-content .subtext {
  font-size: 18px;
  text-align: center;
}
.dialog-off-canvas-main-canvas .region-content #cat-form {
  margin-bottom: 30px;
}
.dialog-off-canvas-main-canvas .region-content #cat-form .form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog-off-canvas-main-canvas .region-content #cat-form .form-item .control-label {
  font-size: 16px;
}
.dialog-off-canvas-main-canvas .region-content #cat-form .form-item #edit-name {
  width: 400px;
}
.dialog-off-canvas-main-canvas .region-content #cat-form .form-item-email #edit-email {
  width: 400px;
}
.dialog-off-canvas-main-canvas .region-content #cat-form .form-item-email .input-group-addon {
  display: none;
}
.dialog-off-canvas-main-canvas .region-content #cat-form #edit-actions {
  display: flex;
  justify-content: center;
}
.dialog-off-canvas-main-canvas .region-content #cat-form #edit-actions #edit-submit {
  margin: 0;
  background-color: black;
  color: white;
  transition: all 0.3s;
}
.dialog-off-canvas-main-canvas .region-content #cat-form #edit-actions #edit-submit:hover {
  background-color: white;
  color: black;
}
.dialog-off-canvas-main-canvas .region-content #cat-form .form-group .form-managed-file {
  display: flex;
  flex-direction: column;
}
.dialog-off-canvas-main-canvas .region-content .table-responsive tr {
  height: 260px;
  display: flex;
  align-items: center;
  border: 1px solid #000;
  font-size: 16px;
}
.dialog-off-canvas-main-canvas .region-content .table-responsive tr td {
  border: none;
  width: 25%;
}
.dialog-off-canvas-main-canvas .region-content .table-responsive tr td:last-child {
  margin-left: auto;
}
.dialog-off-canvas-main-canvas .region-content .table-responsive tr td.active-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-off-canvas-main-canvas .region-content .table-responsive tr td.active-popup img {
  width: 30%;
}
.dialog-off-canvas-main-canvas .null {
  display: none;
}
/*# sourceMappingURL=style.css.map */
