.dialog-off-canvas-main-canvas {
  .region-highlighted {
    .alert-danger,
    .alert-success {
      background-color: black;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      position: relative;
      padding: 15px;

      .close {
        position: absolute;
        right: 5px;
        top: 15px;
      }
    }

    .alert-success {
      background-color: black;
      text-align: center;
      font-size: 16px;
      text-transform: uppercase;
      color: white;
      position: relative;
      padding: 15px;
    }
  }

  .region-content {
    .page-header {
      text-align: center;
      font-family: 'Sans Regular', serif;
      text-transform: uppercase;
      border-bottom: 1px solid black;
    }

    .subtext {
      font-size: 18px;
      text-align: center;
    }

    #cat-form {
      .form-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .control-label {
          font-size: 16px;
        }

        #edit-name {
          width: 400px;
        }
      }

      .form-item-email {
        #edit-email {
          width: 400px;
        }

        .input-group-addon {
          display: none;
        }
      }

      #edit-actions {
        display: flex;
        justify-content: center;

        #edit-submit {
          margin: 0;
          background-color: black;
          color: white;
          transition: all 0.3s;

          &:hover {
            background-color: white;
            color: black;
          }
        }
      }

      .form-group {
        .form-managed-file {
          display: flex;
          flex-direction: column;
        }
      }

      margin-bottom: 30px;
    }

    .table-responsive {
      tr {
        height: 260px;
        display: flex;
        align-items: center;
        border: 1px solid #000;
        font-size: 16px;
        td {
          border: none;
          width: 25%;
          display: flex;
          justify-content: center;
          &:nth-child(4){
            margin-left: auto;
          }
        &:last-child {
          display: flex;
          justify-content: space-around;
          a{
            color: black;
          }
        }
          &.active-popup{
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
              width: 30%;
            }
          }
        }
      }
    }
  }

  .null {
    display: none;
  }
}
