.navbar{
  background-color: black;
  .navbar-unity{
    display: flex;
    .navbar-collapse{
      .region {
        height: 100%;
        display: flex;
        align-items: center;
        .menu--header-menu {
          display: flex;
          a{
            color: white;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px 0;
            margin: 0 15px;
            &:hover,
            &:focus,
            &:active{
              background-color: transparent;
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }
}
#main-cats{
  .alert-success{
    background-color: black;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    position: relative;
    padding: 15px;
    .close{
      position: absolute;
      right: 5px;
      top: 15px;
    }
  }
  .js-quickedit-page-title{
    text-align: center;
    font-family: 'Sans Regular';
    text-transform: uppercase;
    border-bottom: 1px solid black;
  }
  .subtext{
    font-size: 18px;
    text-align: center;
  }
  #cat-form{
    margin-top: 50px;
    .form-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      .control-label{
        font-size: 16px;
      }
      #edit-name {
        width: 400px;
      }
    }
    #edit-actions{
      display: flex;
      justify-content: center;
      #edit-submit{
        margin: 0;
        background-color: black;
        color: white;
        transition: all 0.3s;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }
}
